<p><%=@shoe.brand%></p>
<p><%=@shoe.name%></p>

<p><a href="/shoes/<%=@shoe.id%>/edit">Edit Shoe</a></p>

<form action="/shoes/<%=@shoe.id%>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shoe">
</form>

<p><a href="/shoes">Go Back To Collection</a></p>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
